---
const currentYear = new Date().getFullYear()
---
<!--<footer class="  top-0 z-10 items-center justify-center w-full mx-auto bg-white mt-20">
    <div class="container mx-auto">
      <nav class="relative px-4 py-4 flex justify-between items-center  text-black  ">
        <h1 class="text-2xl font-bold leading-none items-center inline-flex">
          <img src="/logo.png" class="h-12"
           style="filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));" alt="Monotributo"></h1> 
      </nav>
    </div>
</footer>-->




<footer class="bg-white  shadow  mt-10">
    <div class="w-full max-w-screen-xl mx-auto md:py-2"> 
        <div class="sm:flex flex-col md:flex-row  sm:items-center   sm:justify-between">
            <a class="text-2xl font-bold leading-none items-center inline-flex" href="/">
                <img src="/logo.png" class="h-12" style="filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));" alt="">
                <span class="text-gray-900 pl-5 uppercase">Monotributo</span>
                <span class="text-blue-600">.net</span>
                
        
              </a>
            <div class="grid sm:grid-cols-3 grid-cols-2 gap-6 justify-end  items-center ">
                <div> 
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="/monotributo" class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
                            transform motion-safe:hover:scale-105">MONOTRIBUTO</a>
                        </li>
                        <li>
                            <a href="/responsablesinscriptos" class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
                            transform motion-safe:hover:scale-105">RESPONSABLES INSCRIPTOS</a>
                        </li>
                    </ul>
                </div>
                <div> 
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="/ceta"  class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
                            transform motion-safe:hover:scale-105">CERTIFICADOS CETA</a>
                        </li>
                        <li>
                            <a href="/origenfondos"  class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
                            transform motion-safe:hover:scale-105">CERTIFICACIONES ORIGEN DE FONDOS</a>
                        </li>
                    </ul>
                </div>
                <div> 
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="/contacto"  class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
                            transform motion-safe:hover:scale-105">CONTACTO</a>
                        </li>
                        <li>
                           
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>
        <hr class="my-6  border-gray-700 lg:my-8" />
        <span class="block text-sm text-center dark:text-gray-500">© {currentYear} 
            <a href="https://hcsoluciones.com.ar/" class="text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded 
            transform motion-safe:hover:scale-105">HC Soluciones</a>. </span>
    </div>
</footer>

