---
const navItems = [
  {
    title: "Monotributo",
    label: "monotributo",
    url: "/monotributo",
  },
  {
    title: "ResponsablesInscriptos",
    label: "Responsables Inscriptos",
    url: "/ResponsablesInscriptos",
  },
  {
    title: "Ceta",
    label: "Ceta",
    url: "/Ceta",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav class="flex px-3 text-sm font-medium rounded-full text-gray-200">
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>