---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro"; 
---

<Layout
  title="MONOTRIBUTO.NET | Te ayudamos con ARCA (ex AFIP)!"
  description="MONOTRIBUTO.NET, es una página de trámites y asesoramiento impositivo, en la cual vas a poder realizarlos de manera segura."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <slot>
        <div class="flex flex-row min-h-96 justify-center items-center">

            <h1 class="text-5xl text-center font-semibold ">404 - No es una página disponible</h1>
        </div>
      </slot>
    </SectionContainer>
    <div
      class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-1/2 bg-[radial-gradient(circle_170px_at_0%_200px,#79b2f8,transparent)]"
    >
    </div>

    <div
      class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-3/4 bg-[radial-gradient(circle_170px_at_80%_200px,#79b2f8,transparent)]"
    >
    </div>
  </main>
</Layout>
