---
import Banner from "../components/icons/Banner.astro"; 
import SectionContainer from "../components/SectionContainer.astro";
import VideoMonotributo from "../components/VideoMonotributo.astro";
import Layout from "../layouts/Layout.astro";

const message = {
  name: "Continuar con el formulario",
  href: "../formularios/responsableInscripto.php",
};
---

<Layout
  title="MONOTRIBUTO.NET | Te ayudamos con ARCA (ex AFIP)!"
  description="MONOTRIBUTO.NET, es una página de trámites y asesoramiento impositivo, en la cual vas a poder realizarlos de manera segura."
>
  <main class="px-4 min-h-[calc(100vh_-_90px)]">
    <SectionContainer class="py-16 md:py-36">
      <slot>
        <Banner title="Responsable Inscripto" />

        <div class="flex justify-center my-4">
          <a
            href={message.href}
            target="_blank"
            class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded leading-relaxed"
          >
            {message.name}
          </a>
        </div>
        <div class="flex justify-center my-2">
          <div
            class="w-full justify-center align-middle block max-w-full p-6 bg-white border border-gray-200
            rounded-lg shadow hover:bg-gray-100 space-x-2"
          >
            <p class="font-semibold text-center text-gray-700">
              ¡Hola! Estás por iniciar el trámite de “<span class="font-bold">Alta como Responsable Inscripto</span>”  . Vamos a solicitarte datos sensibles como tu DNI y Clave
              Fiscal. Si no estás seguro, podés contactarte primero con uno de
              nuestros contadores por WhatsApp, o dejarnos tu celular para que
              te llamemos nosotros directamente.
            </p>
            <p class="font-semibold text-center text-gray-700 mt-2">
                ¡No lo dudes, estamos para ayudarte!
            </p>
             
            <p class="font-bold mt-2 text-center text-gray-700">
                Monotributo.net
            </p>
          </div>
        </div>
        <VideoMonotributo
          video="../images/responsableinscripto"
          imagen="../images/trailer3.png"
        />
      </slot>
    </SectionContainer>
    <div
      class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-1/2 bg-[radial-gradient(circle_170px_at_0%_200px,#79b2f8,transparent)]"
    >
    </div>

    <div
      class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-3/4 bg-[radial-gradient(circle_170px_at_80%_200px,#79b2f8,transparent)]"
    >
    </div>
  </main>
</Layout>
