---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
//import Hero from "../components/HeroSanti.astro";
import Carousel from "../components/Carousel.astro";

import AboutMe from "../components/AboutMe.astro";
import Faq from "../components/Faq.astro";
import Cards from "../components/Cards.astro";
import VideoMonotributo from "../components/VideoMonotributo.astro";
import Prices from "../components/prices.astro";
import QueOfrecemos from "../components/QueOfrecemos.astro";
import ComoTrabaja from "../components/ComoTrabaja.astro";
---

<Layout
  title="MONOTRIBUTO.NET | Te ayudamos con ARCA (ex AFIP)!"
  description="MONOTRIBUTO.NET, es una página de trámites y asesoramiento impositivo, en la cual vas a poder realizarlos de manera segura."
>
<main class="px-4 min-h-[calc(100vh_-_120px)]">
    <SectionContainer class="pt-16 -mb-10 md:pt-36  sm:-mb-20">
      <slot>
        <Carousel />
      </slot>
    </SectionContainer>

    

    <div id="servicios" class="max-w-full mx-auto py-10">
       
    </div>

    <div class="md:mt-4 lg:mt-10  -mt-8"  >

        <VideoMonotributo  video = "./images/1monotributonet" imagen="./images/trailer.png"/>
    </div>
    <div
    class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-1/2 bg-[radial-gradient(circle_170px_at_0%_200px,#3f6b9c,transparent)]"
  >
  </div>
    <Cards   />
    <QueOfrecemos />
    <ComoTrabaja />

    <Prices />

    <Faq />
   
  


    <AboutMe />

    <div
      class="absolute inset-0 -z-10 bottom-0 left-0 right-0 top-3/4 bg-[radial-gradient(circle_170px_at_80%_200px,#3f6b9c,transparent)]"
    >
    </div>
  </main>
</Layout>


<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-3ZDK5YT711"></script> 
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'G-3ZDK5YT711');
</script>

<script is:inline>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "pcdwvnxe70");
</script>