---
import Layout from '../layouts/Layout.astro';
import letterM from '../components/icons/letterM.astro';
---

<Layout title="MONOTRIBUTO.NET | La web de Santi" description='La web de Santi, te ayuda con los traÌmites para iniciar tus proyectos'>
	<main>
        <letterM class="w-20" />
		<h1 class="text-3xl font-extrabold	">MONOTRIBUTO <span class="text-gradient">La web de Santi</span></h1>
		 
		 
	</main>
</Layout>

<style>
	main {
		 
	}
	 
</style>
