<div class="container mt-20">
   
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-700 md:flex-row"
  >
    <div
      class="[&>p]:mb-4   dark:[&>p>strong]:text-blue-600 text-pretty order-2 md:order-1"
    >
    <h2 class="text-2xl font-bold ">Acerca de mí: </h2>
    <br>
      <p class="font-medium">
        Hola! Mi nombre es <strong
          >Santiago Signoretta y soy Contador Público recibido y matriculado.</strong
        >
        Cuento con más de 10 años de experiencia en el campo de los impuestos, especializado
        principalmente en el Régimen del Monotributo. Poseo información actualizada
        de AFIP para brindarte el mejor asesoramiento en tiempo y forma. Contá con
        mi experiencia para ayudarte!
      </p>
    </div>

    <img
      width="200"
      height="200"
      src="/santi.webp"
      alt="Santiago"
      class="order-1 object-cover w-40
   h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-48 aspect-square rounded-full
    dark:bg-blue-300/5 ring-1 ring-blue-200/20 transition hover:scale-110 duration-700 animate-delay-500"
      style="object-position: 50% 50%"
    />
  </article>
</div>
