 

<div class="container mt-10  ">
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 md:flex-row"
  >
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-accent text-pretty order-2 md:order-1"
    >
      <h2 class="text-2xl font-bold">Acerca de nosotros:</h2>
      <br />
      <p class="font-medium">
        Hola! <strong>Monotributo.Net</strong> es una página de trámites y asesoramiento
        impositivo, en la cual vas a poder realizarlos de manera segura.
      </p>
      <p class="font-medium">
        Contamos con profesionales <strong>recibidos y matriculados</strong>.
        Que tienen más de 10 años de experiencia en el campo de los impuestos,
        especializados principalmente en el Régimen del Monotributo. Además,
        tenemos la información actualizada de ARCA (ex AFIP) para brindarte el mejor
        asesoramiento en tiempo y forma. Contá con nuestra experiencia para
        ayudarte!
      </p>
    </div>

    <!--   

    
    <img
      width="200"
      height="200"
      src="/santi.webp"
      alt="Santiago"
      class="order-1 object-cover w-40
   h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-48 aspect-square rounded-full
    dark:bg-blue-300/5 ring-1 ring-blue-200/20 transition hover:scale-110 duration-700 animate-delay-500"

    />-->
  </article>
</div>

 