 <!-- component -->
<div class="py-16">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0 transition duration-200">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3 ">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-fade-in duration-700 animate-delay-700">
                <div class="mb-12 space-y-4 "> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Seleccioná el plan que mejor se adapte a vos  o realizanos una consulta</p>
                    
                </div> 
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-fade-in duration-700 animate-delay-700">
                <div class="mb-12 space-y-4"> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Completa tus datos personales para que te contactemos</p> 
                </div> 
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-fade-in duration-700 animate-delay-700">
                <div class="mb-12 space-y-4"> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Delega tus impuestos en nosotros</p>
                    
                </div> 
            </div>
        </div>
    </div>
</div>