---
import CardItems from "./CardItems.astro"
---
<div id="servicios" class="max-w-full mx-auto py-10">

</div>

<div class="mt-10"  >
    <h2 class="text-2xl font-bold ">Servicios disponibles: </h2>
    <div class="flex flex-wrap justify-center items-center md:justify-between gap-8  mt-4">
        <CardItems title="Monotributo" description="Inscripción en el Monotributo (En menos de 24 horas - Incluye obtención de CUIT)" link="./monotributo"> 
            slot
        </CardItems>
        <CardItems title="Responsables Inscriptos" description="Inscripción como Responsable inscripto (En menos de 24 horas - Incluye obtención de CUIT)" link="./responsablesinscriptos">
            slot
        </CardItems>
        <CardItems title="Certificados CETA" description="Formulario CETA (Para la venta de automotores)" link="/ceta"> 
            slot
        </CardItems>
        <CardItems title="Certificaciones Origen de Fondos" description="Certificado de Origen de Fondos (Para la compra de automotores). Solicitado por la UIF" link="/origenfondos"> 
            slot
        </CardItems>
        <CardItems title="Bonos mensuales" description="Armado y presentación de Declaraciones Juradas Mensuales Impositivas" link="/contacto"> 
            slot
        </CardItems>
        <CardItems title="Otros Trámites o consultas" description="Asesoramiento constante" link="/contacto">
            slot    
        </CardItems>
    </div>
</div>