 <!-- component -->
<div class="py-16">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0 transition duration-200">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-jiggle duration-700 animate-delay-700">
                <div class="mb-12 space-y-4"> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Asesoramiento impositivo al instante</p>
                    
                </div>
                <img src="./images/cards/graficos4.avif" class="w-2/3 ml-auto   mb-6  mx-auto" alt="illustration" 
                loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-jiggle duration-700 animate-delay-700">
                <div class="mb-12 space-y-4"> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Profesionales capacitados y actualizados</p> 
                </div>
                <img src="/images/cards/graficos7.avif" 
                class="w-2/3 ml-auto mb-6 mx-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8 transition hover:animate-jiggle duration-700 animate-delay-700">
                <div class="mb-12 space-y-4"> 
                    <p class="mb-6 text-2xl font-semibold text-accent">Confianza</p>
                    
                </div>
                <br>
                <img src="/images/cards/graficos8.avif" 
                class="w-2/3 ml-auto mb-6 mx-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
        </div>
    </div>
</div>