---
import CardItems from "./CardItems.astro"
---
<div class="mt-10">
    <h2 class="text-2xl font-bold ">Servicios disponibles: </h2>
    <div class="flex flex-wrap justify-center  gap-8 ">
        <CardItems title="Monotributo" description="Realizá el alta y empezá a facturar"> 
            slot
        </CardItems>

        <CardItems title="Responsables Inscriptos" description="">
            slot
        </CardItems>

        <CardItems title="Certificados CETA" description="Magna non enim nulla deserunt incididunt."> 
            slot
        </CardItems>

        <CardItems title="Certificaciones Origen de Fondos" description="Magna non enim nulla deserunt incididunt."> 
            slot
        </CardItems>

        <CardItems title="Bonos mensuales" description="Magna non enim nulla deserunt incididunt."> 
            slot
        </CardItems>
        <CardItems title="Otros Trámites o consultas" description="Magna non enim nulla deserunt incididunt.">
            slot    </CardItems>


    </div>
</div>
