<div class="text-pretty tracking-wide text-gray-800 mt-4 drop-shadow-sm">
  <p class="my-2">
    La Certificación de Origen de Fondos es un documento emitido por un contador
    público matriculado que verifica la procedencia y licitud de un determinado
    monto de dinero de una persona o empresa. Este documento es necesario para
    poder ejecutar la compra de un bien (por ejemplo, un automotor, un inmueble,
    una embarcación, una aeronave) o para poder operar en una cuenta bancaria,
    comitente, digital o virtual.
  </p>

  <p class="my-2">La certificación consta de dos partes:</p>
  <p class="my-2">
    <ul class="space-y-4 text-left text-gray-600 px-10">
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span>
          Manifestación del interesado: Es una declaración firmada por el
          contribuyente, o interesado, en la que manifiesta cuáles son los
          fondos que ha percibido en un período dado, o cuál es el origen de los
          fondos depositados en cuenta, o utilizados para adquirir bienes
          registrales.
        </span>
      </li>
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg
          class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 12"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5.917 5.724 10.5 15 1.5"></path>
        </svg>
        <span
          >Certificación contable: Es una declaración firmada por el contador,
          donde acredita haber constatado la documentación disponible, necesaria
          para acreditar lo manifestado por el contribuyente en su declaración.</span
        >
      </li>
    </ul>
  </p>

  <p class="my-2">
    Por ejemplo, si una persona desea adquirir un automotor por un valor
    superior a $26.036.545,00  (monto vigente desde enero 2024), se requerirá una
    certificación de origen de fondos.
  </p>

  <div class="flex justify-center mt-6">
    <a
      type="button"
      href="#"
      target="_blank"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Quiero obtener el certificado..
    </a>
  </div>
</div>
