<div class="max-w-full mx-auto mt-20 mb-20">

<h2 class="text-2xl font-bold">Algunas preguntas frecuentes: </h2>

<ul
  class="max-w-full mx-auto mt-4 divide-y shadow shadow-gray-600 rounded-xl "
>
  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >Franco: Hola, quería saber si con el trámite de Alta en el
          monotributo ya puedo empezar a facturar? Gracias</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p >
          Hola Franco! Cómo estás? Sí, una vez que te enviamos la confirmación
          del trámite de alta en el monotributo, ya te encontrás habilitado para
          facturar. Podés solicitarnos la guía con el paso a paso para facturar.
          Saludos!
        </p>
      </article>
    </details>
  </li>
  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >Hernán: Buenas! Quería saber si cuentan con alguna explicación del
          Monotributo. Gracias</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p>
          Hola Hernán! Cómo está? Por supuesto que sí. Una vez que terminamos
          con tu trámite de alta en el monotributo vas a recibir información
          detallada de los impuestos que te corresponden. Si desean un
          asesoramiento más completo, ya tienen nuestro contacto para
          escribirnos!
        </p>
      </article>
    </details>
  </li>
  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >Lucía: Buenos días, quisiera saber si brindan algún asesoramiento
          mensual. Gracias</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p>
          Hola Lucía! Cómo estás? Sí, contamos con un equipo de contadores
          capacitados para brindarte un seguimiento mensual de tu monotributo.
          Solamente deberías seleccionar la opción de “Bono Mensual” en nuestra
          página web, para poder contactarte a la brevedad. No dudes en
          escribirnos. Saludos!
        </p>
      </article>
    </details>
  </li>
  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >Mario: Hola, estoy necesitando facturar pero el sistema de AFIP no me
          deja. Estoy activo en el monotributo pero no encuentro dónde facturar.</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p>
          Hola Mario! Cómo estás? Podemos enviarte un video “tutorial” para
          saber cómo facturar o brindarte un asesoramiento vía llamada.
          Solamente deberías seleccionar la opción de “Consultas” en nuestra
          página web, para poder contactarte a la brevedad. Saludos!
        </p>
      </article>
    </details>
  </li>

  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >María del Rosario: Buenas tardes, ustedes realizan la
          Recategorización del monotributo? Nunca lo presenté y estoy pagando un
          Monotributo más alto. Aguardo por su respuesta.</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p>
          Hola María del Rosario! Cómo estás? Claro que sí, nuestro servicio de
          “Bono Mensual” incluye la presentación en tiempo y forma de las
          Recategorizaciones para monotributistas. Si solamente necesitás un
          chequeo de tu situación actual, podes seleccionar el trámite de
          “Consultas” para que podamos ayudarte. No dudes en escribirnos!
          Saludos!
        </p>
      </article>
    </details>
  </li>

  <li>
    <details class="group">
      <summary
        class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer"
      >
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          >
          </path>
        </svg>
        <span class="font-semibold"
          >Francisca: Hola! Ustedes hacen las Declaraciones Juradas Mensuales de
          Ingresos Brutos en Provincia de Buenos Aires? Gracias</span
        >
      </summary>

      <article class="px-4 pb-4">
        <p>
          Hola Francisca! Cómo estás? Sí, nosotros brindamos el servicio mensual
          que incluye el armado y presentación de las Declaraciones Juradas
          Mensuales de Ingresos Brutos, ya sea en CABA, Provincia de Buenos
          Aires o Convenio Multilateral, según corresponda. Solamente deberías
          seleccionar la opción de "Consultas" en nuestra página web, para poder
          contactarte a la brevedad. Saludos!
        </p>
      </article>
    </details>
  </li>
</ul>
</div>