---

---
 


<div >
  <div class="flex md:flex-row flex-col gap-8 mt-6 justify-center items-center md:px-10 lg:px-20">
    <div  class="justify-center items-center transition hover:animate-sway duration-700 animate-delay-500">

        <img width="600" height="600" src="/images/firmando.webp" alt="Santiago" class="order-1 object-cover w-svw
   h-full p-1 bg-white md:order-2   lg:p-2 lg:w-full aspect-square rounded-2xl transition md:justify-center md:hover:scale-115 duration-200 delay-75
    dark:bg-blue-400/5   ring-white/20 drop-shadow-2xl " style="object-position: 50% 50%">


      <!--<img
      class="flex items-center justify-center rounded-lg  transition md:justify-center md:hover:scale-105"
        src="/santi-web.webp"
        alt="Santi portada"
      />-->
    </div>
    
    
    <div  class="transition  duration-200 ">
      <a
      href="#faqs"
        class=" text-2xl md:text-3xl lg:text-5xl   font-bold text-pretty tracking-tight text-gray-800 hover:text-blue-600 light:text-black"
      >
        Trámites rapidos y efectivos
      </a>
      <p
        class="mt-6 text-xl/2     md:text-xl text-pretty text-gray-800 dark:[&>strong]:text-blue-600 [&>strong]:font-semibold light:text-gray-800"
      >
      ¡<strong>Ahorra tiempo</strong> y resuelve tus trámites de manera eficiente! Descubre cómo.
         
      </p>
    </div>
    
  </div> 
</div>
