---

---
 


<div >
  <div class="flex md:flex-row flex-col gap-8 mt-6 justify-center items-center md:px-10 lg:px-20">
    <div  class="transition hover:animate-scale">
      <a
      href="/monotributo"
        class=" flex text-xl md:text-2xl lg:text-4xl  font-bold text-pretty tracking-tight text-gray-800  hover:text-accent light:text-black"
      >
        Inscribite en el Monotributo en menos de 24hs (habiles)
      </a>
      <p
        class="mt-6 text-xl/2     md:text-xl text-pretty text-gray-800 dark:[&>strong]:text-accent [&>strong]:font-semibold light:text-gray-800"
      >
      ¡Descubre más ahora mismo!
      </p>
    </div>
    <div  class="justify-center items-center transition hover:animate-squeeze duration-700 animate-delay-500">
        <a href="/monotributo">
        <img  src="/images/final/imagen9.avif" alt="Santiago" loading="lazy" class="order-1 object-fit  
        h-64 lg:h-96 p-1 bg-gray md:order-2 w-full   lg:p-2   aspect-video rounded-3xl 
        transition md:justify-center md:hover:scale-115 duration-200 delay-75
         dark:bg-blue-400/5   ring-white/20 drop-shadow-2xl " style="object-position: 50% 50%">
        </a>

    </div>
  </div> 
</div>
