---

---

<div>
  <div
    class="flex md:flex-row flex-col gap-8 mt-6 justify-center items-center md:px-10 lg:px-20"
  >
    <div class="transition duration-200">
      <a
        href="#servicios"
        class="text-2xl md:text-3xl lg:text-5xl font-bold text-pretty tracking-tight text-gray-800 hover:text-accent light:text-black"
      >
        ¡Te ayudamos con ARCA (ex AFIP)!
      </a>
      <p
        class="mt-6 text-base md:text-lg lg:text-xl text-pretty text-gray-800 dark:[&>strong]:text-accent [&>strong]:font-semibold light:text-gray-800"
      >
        Ponete <strong>en contacto</strong> y en unos <strong
          >simples pasos</strong
        > ya vas a estar más cerca de tus proyectos.
      </p>
    </div>
    <div
      class="justify-center items-center transition hover:animate-pop duration-700 animate-delay-500"
    >
      <a href="/contacto">
        <img
          src="/images/final/imagen8.avif"
          alt="Santiago" loading="lazy"
          class="order-1 object-fit
   h-64 lg:h-96 p-1 bg-gray md:order-2 w-full lg:p-2 aspect-video rounded-3xl 
   transition md:justify-center md:hover:scale-115 duration-200 delay-75
    dark:bg-blue-400/5 ring-white/20 drop-shadow-2xl"
          style="object-position: 50% 50%"
        />
      </a>
    </div>
  </div>
</div>
