<div
   class={`
    -top-1/2 -left-1/2 -bottom-1/2 -right-1/2 -z-50
    fixed bg-repeat bg-transparent w-[200%] h-[200vh]  
    pointer-events-none contrast-125 brightness-150
  `}
>
</div>

<style>
  div {
    background-image: url("/images/bubble/banner-shape.png");
    background-repeat: no-repeat;
  }
 
</style>
