---
import Header from '../components/pages/Header.astro';
import '@fontsource-variable/encode-sans';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
    description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	 
		<title>{title}</title>
        <ViewTransitions />
	</head>
   
	<body>
        <Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
        color-scheme: light;
        --entry-animation: -20px;
        --cover-animation: 20px;
      }

      @media (min-width: 1400px) {
        :root {
          --entry-animation: -100px;
          --cover-animation: 100px;
        }
      }
	html {
		font-family:  'Encode Sans Variable' , system-ui, sans-serif;
		background: #efefef;
		 
	}
	 
</style>
